<div class="footer">
    <div class="footer-top d-flex">
        <div class="footer-left w-100">
            <h6 class="title-with-line">ABOUT US</h6>
            <p class="footer-left-text">
                Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts
            </p>
            <div class="payment-method">
                <img src="/img/paypal.png" alt="">
            </div>
        </div>
        <div class="footer-center w-50">
            <h6 class="title-with-line">USEFUL LINKS</h6>
            <p>About us</p>
            <p>Blog</p>
            <p>Products</p>
            <p>F.A.Q</p>
            <p>Contacts</p>
        </div>
        <div class="footer-right w-50">
            <h6 class="title-with-line">FOLLOW US</h6>
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Pinterest</p>
            <p>Twitter</p>
            <p>YouTube</p>
        </div>
    </div>
    <div class="footer-bottom d-flex w-100 justify-content-around">
        <div class="footer-bottom-left">
            <p>Privacy Policy / This is a sample website - cmsmasters © 2024 / All Rights Reserved</p>
        </div>
        <div class="footer-bottom-right d-flex gap-3">
            <div> <b>ABOUT</b></div>
            <div> <b>PORTFOLIO</b></div>
            <div> <b>BLOG</b></div>
            <div> <b>SHOP</b></div>
            <div> <b>CONTACTS</b></div>
        </div>
    </div>
</div>